@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
  background-color: #1F1D2B;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.laranja {
  color: #FF7551;
}

.verde {
  color: #00BF86;
}

.navbar-brand {
  color: #FFFFFF;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil img {
  border-radius: 99.9rem;
}

.dropdown-menu {
  --bs-dropdown-min-width: 0rem;
}

.card {
  border: none;
}

.parcela {
  background-color: rgba(255, 255, 255, 0.1);
  max-width: fit-content;
  /* padding: 1.0rem .8rem;
  border-radius: 1.0rem; */
}

.container-section2 {
  max-width: fit-content;
}

.ingresso {
  display: flex;
  align-items: center;
}

.container-section2 .btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FF7551  ;
  border-radius: 1.0rem;
}

.list-group {
  gap: .4rem;
}

.modal-body {
  font-size: 1.3rem;
}

@media only screen and (max-width: 743px) {
  body {
    padding: 0rem 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  header {
    background-color: rgb(28, 28, 39);
    box-shadow: 10px 10px 5px rgb(30, 30, 40);
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-fluid {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-brand svg {
    width: 2.0rem;
    height: 2.0rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
    gap: 0.5rem;
  }

  .perfil {
    gap: 0.5rem;
  }

  .perfil img {
    width: 2.3rem;
    height: 2.3rem;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .dropdown-item {
    font-size: 0.9rem;
  }

  .container-main {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: center;
  }

  h1 {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  .container-main figure {
    width: 29.4rem;
    height: 16.5rem;
    margin-bottom: 0px;
  }

  .container1-celular {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin-top: 1.5rem;
  }

  .container-section1 {
    width: 14.6rem;
  }

  h4 {
    font-size: 1.0rem;
    margin-bottom: 0.4rem;
  }

  .parcela {
    font-size: 0.8rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
  }

  .container-section2 {
    display: flex;
    flex-direction: column;
    width: 12.4rem;
    border-radius: 1.0rem;
    padding: 0.8rem 0.6rem 0.8rem 0.6rem;
  }

  .ingresso {
    justify-content: center;
    text-align: center;
    margin-bottom: 0.7rem;
  }

  .ingresso svg {
    width: 1.5rem;
    height: 1.0rem;
  }

  h3 {
    font-size: 1.0rem;
    margin-bottom: 0px;
  }

  .container-section2 button {
    width: 11.0rem;
    height: 2.1rem;
    font-size: 0.8rem;
  }

  .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-section3 {
    width: 28.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
    width: 14.6rem;
    margin-bottom: 0px;
  }

  h5 {
    font-size: 1.0rem;
  }

  .line-clamp-5 {
    width: 28.3rem;
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .line {
    width: 28.3rem;
  }

  h5 .btn {
    padding: 0rem;
  }

  .list-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.1rem;
  }

  .list-group-item {
    gap: 0.3rem;
  }

  .list1-celular {
    border-radius: 2.0rem;
    width: 13.7rem;
  }

  .list1-celular li {
    border: none;
    height: 7.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.3rem;
  }

  .list2-celular {
    border-radius: 2.0rem;
    gap: 0.3rem;
    width: 13.7rem;
  }

  .list2-celular li {
    border: none;
    height: 7.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.3rem;
  }

  p {
    font-size: 0.8rem;
    margin-bottom: 0px;
  }

  .container-section4 {
    background-color: rgb(28, 28, 39);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 60rem;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
    margin-top: 1.5rem;
  }

  .container-section4 figure {
    width: 27.8rem;
    height: 27.6rem;
    border-radius: 20.0rem;
  }

  .figure-img {
    border-radius: 2.0rem;
  }
}

@media only screen and (min-width: 744px) and (max-width: 1279px) {
  body {
    padding: 0rem 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.0rem;
  }

  header {
    background-color: rgb(28, 28, 39);
    box-shadow: 10px 10px 5px rgb(30, 30, 40);
    width: 100vw;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-fluid {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-brand svg {
    width: 3.8rem;
    height: 3.6rem;
  }

  .navbar-brand {
    font-size: 2.0rem;
    gap: 0.5rem;
  }

  .perfil {
    gap: 0.8rem;
  }

  .perfil img {
    width: 3.2rem;
    height: 3.2rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .dropdown-item {
    font-size: 1.3rem;
  }

  .container-main {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: center;
  }

  h1 {
    font-size: 2.8rem;
    margin-bottom: 0px;
  }

  .container-main figure {
    width: 66.0rem;
    height: 35.9rem;
    margin-bottom: 0px;
  }

  .container1-celular {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin-top: 5rem;
  }

  .container-section1 {
    width: 34.1rem;
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
  }

  h4 {
    font-size: 2.0rem;
    margin-bottom: 0.4rem;
  }

  .parcela {
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
    border-radius: 1.0rem;
  }

  .container-section2 {
    display: flex;
    flex-direction: column;
    width: 29.2rem;
    border-radius: 2.0rem;
    padding: 2rem 2rem 2rem 2rem;
  }

  .ingresso {
    justify-content: center;
    text-align: center;
    margin-bottom: 0.7rem;
  }

  .ingresso svg {
    width: 2.5rem;
    height: 1.7rem;
  }

  h3 {
    font-size: 2.0rem;
    margin-bottom: 0px;
  }

  .container-section2 button {
    width: 25.0rem;
    height: 4.3rem;
    font-size: 1.8rem;
    margin-top: 1.5rem;
  }

  .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-section3 {
    width: 66.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-left: 1.0rem;
    margin-top: 3rem;
  }

  h2 {
    font-size: 2.8rem;
    width: 34.1rem;
    margin-bottom: 0px;
  }

  h5 {
    font-size: 2.0rem;
  }

  .line-clamp-5 {
    width: 66.5rem;
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .line {
    width: 66.5rem;
  }

  h5 .btn {
    padding: 0rem;
    font-size: 1.8rem
  }
  
  .list-group {
    gap: 0rem;
  }

  .list-group-item {
    width: 20.3rem;
    height: 8.25rem;
    padding-left: 1rem;
    margin-bottom: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #lista-cima {
    border-radius: 2.0rem 2.0rem 0rem 0rem;
  }

  #lista-baixo {
    border-radius: 0rem 0rem 2.0rem 2.0rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 0px;
  }

  .container-section4 {
    background-color: rgb(28, 28, 39);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 60rem;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2rem;
  }

  .container-section4 figure {
    width: 44.2rem;
    height: 43.8rem;
    border-radius: 2.0rem;
  }

  .figure-img {
    border-radius: 2.0rem;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    padding: 0remrem 8.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.0rem;
  }

    header {
    background-color: rgb(28, 28, 39);
    box-shadow: 10px 10px 5px rgb(30, 30, 40);
    width: 100vw;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-fluid {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-brand svg {
    width: 3.8rem;
    height: 3.6rem;
  }

  .navbar-brand {
    font-size: 2.0rem;
    gap: 0.5rem;
  }

  .perfil {
    gap: 1rem;
  }

  .perfil img {
    width: 4.0rem;
    height: 4.0rem;
  }

  .nav-link, .dropdown-item {
    font-size: 1.6rem;
  }

  .container-main {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 4rem;
  }

  h1 {
    font-size: 2.8rem;
    margin-bottom: 0px;
  }

  .container-main figure {
    width: 74.4rem;
    height: 39.4rem;
    margin-bottom: 0px;
  }

.container1-celular {
  display: contents;
}

.container-main-section {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto; /* duas colunas */
  grid-template-rows: auto auto; /* duas linhas */
  gap: 3.0rem;
}

/* Forçando que cada elemento vá para sua célula */
main {
  grid-column: 1;
  grid-row: 1;
}

.section1 {
  width: 34.1rem;
  grid-column: 2;
  grid-row: 1;
  padding-top: 10rem;
  display: flex;
}

.section2 {
  width: 32.2rem;
  grid-column: 2;
  grid-row: 2;
  display: flex;
}

.section3 {
  grid-column: 1;
  grid-row: 2;
}

  .container-section1 {
    width: 34.1rem;
    display: flex;
    flex-direction: column;
    gap: 4.6rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  .parcela {
    font-size: 1.4rem;
    padding: 1.1rem 2.1rem;
    border-radius: 1.0rem;
  }

  .container-section2 {
    display: flex;
    flex-direction: column;
    width: 34.1rem;
    border-radius: 2.0rem;
    padding: 2.4rem 3.4rem 2.4rem 3.4rem;
    margin-top: 6.0rem;
  }

  .ingresso {
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 0.7rem;
  }

  .ingresso svg {
    width: 2.5rem;
    height: 1.7rem;
  }

  h3 {
    font-size: 2.0rem;
    margin-bottom: 0px;
  }

  .container-section2 button {
    width: 25.0rem;
    height: 4.3rem;
    font-size: 1.8rem;
    margin-top: 2rem;
  }

  .container-section3 {
    width: 74.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 6.0rem;
    padding-left: 1.0rem;
  }

  h2 {
    font-size: 2.8rem;
    width: 34.1rem;
    margin-bottom: 0px;
  }

  h5 {
    font-size: 2.0rem;
  }

  .line-clamp-5 {
    width: 74.4rem;
    background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .line {
    width: 74.4rem;
  }

  h5 .btn {
    padding: 0rem;
    font-size: 1.8rem
  }
  
  .list-group {
    gap: 0rem;
  }

  .list-group-item {
    width: 42.0rem;
    height: 10.0rem;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #lista-cima {
    border-radius: 2.0rem 2.0rem 0rem 0rem;
  }

  #lista-baixo {
    border-radius: 0rem 0rem 2.0rem 2.0rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 0px;
  }

  .container-section4 {
    background-color: rgb(28, 28, 39);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80rem;
    align-items: center;
    justify-content: center;
    gap: 6.4rem;
    margin-top: 4rem;
  }

  .container-section4 figure {
    width: 63.0rem;
    height: 62.5rem;
    border-radius: 2.0rem;
  }

  .figure-img {
    border-radius: 2.0rem;
  }
}