body {
    background-image: url("../img/imgfundo2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Poppins, 'Inter', sans-serif;
}


.container {
    text-align: center;
    justify-content: center;
}

.container .form {
    font-family: Poppins, 'Inter', sans-serif;
    justify-content: center;
    background-color: transparent;
    border-radius: 6px;
    width: 350px;
    height: 52px;
    border: white 1px solid;
}

.email {
    background-color: transparent;
    font-family: Poppins, 'Inter', sans-serif;
}

.email input {
    color: white;
}

.btn_btn-link {
    background: transparent;
    border-color: transparent;
    color: white;
    text-decoration: none;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.container {
    text-align: center;
    justify-content: center;
}

.input-svg {
    position: relative;
    display: inline-block;
}

.input-svg svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #999;
    pointer-events: none;
}

.input-svg input {
    padding-left: 40px;
    /* Espaço para o ícone */
    height: 32px;
    font-size: 16px;
}

h1 {
    font-family: Poppins, 'Inter', SemiBold;
    color: #fff;
    font-size: 43px;
    font-family: Poppins, ;
    margin-bottom: 40px;
}

button.btn {
    font-family: Poppins, 'Inter', sans-serif;
    justify-content: center;
    width: 350px;
    height: 52px;
    border-radius: 6px;
    background-color: #FF7551;
    color: #fff;
    margin-top: 25px;
}

button.btn:hover {
    background-color: #fc3a0a;
    color: #fff;
    transition: 0.2s;
}

@media (max-width: 400px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .container .form,
    button.btn {
        width: 100%;
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
    }

    .input-svg input {
        width: 100%;
        font-size: 15px;
        padding-left: 38px;
        height: 36px;
    }

    .input-svg svg {
        width: 18px;
        height: 18px;
        left: 8px;
    }
}